.App {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  scroll-behavior: smooth;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.App {
  display: grid;
  grid-template-rows: auto 1fr auto;

  height: 100vh;
  width: 100vw;
}
